<html>
    <head>
        <style>
             body{
                    /*background-image: url("/static/img/mail_0.png");*/
                    background-size: cover;
                }

.send-button{
	background-color: rgb(61, 170, 61);
	border-radius : 10px;
	border-collapse: collapse;
	border: none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:white;
	padding:10px;
	margin: 20px auto;
	display: block;
	cursor: pointer;
	
	
} 
.text{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius : 10px;
	border-collapse: collapse;
	/* border: none; */
	padding:10px;
	margin: 0 auto;
	display: inline;
	
}
#editor-container {
    border: 1px solid #cccccc;
    display: inline-block;
}

#editor-menu {
    padding: 10px;
}

#editor-menu button {
    font-size: 12px;
    font-family: inherit;
    border: 1px solid #777777;
    background-color: white;
    padding: 5px;
    margin: 0 10px 0 0;
}

.highight-menu {
    background-color: #777777 !important;
    color: white !important;
}

#editor-text {
    width: 500px;
    height: 300px;
    border-top: 1px solid #cccccc;
    outline: none;
    padding: 5px;
    overflow: auto;
}
.textdivi{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
#editor-text img {
    max-width: 250px;
    
}

        </style>
    </head>
    
    <body>
            <div id="editor-container" style="margin-top:100px">
                    <div id="editor-menu" class="textdivi">
                        <button id="bold-button" title="Bold">Bold</button>
                        <button id="underline-button" title="Underline">Underline</button>
                        <button id="list-button" title="Bullet List">List</button>
                        <button id="image-button" title="Picture">Attachments</button>
                        <form method="post" action="/editor" enctype="multipart/form-data"  id="upload_image">
                            <input  type="file" name="file" autocomplete="off" required>
                        </form>
                        <br/>
                        <input type="text" id="subject" name="subject" placeholder="Subject" class="text">
                    </div>
                    <div id="editor-text" class="textdivi" contenteditable="true" spellcheck="false"></div>
                </div>
           
<!-- #converting DOM to xmlSTRING    SERIALIZE

x=new XMLSerializer();
var data=document.getElementById("editor-text");
body=x.serializeToString(data);

#DESERIALIZE
parser=new DOMParser();
body=parser.parseFromString(body,'text/xml');
document.getElementById("editor-text").appendChild(body.documentElement);
 
 -->
    <input type="text" name="category" id="category" placeholder="Please Specify Category" required>
    <button onclick="send_email(this)" class="send-button">POST Blog</button>
    <br/>
        
    </body>
    <script>
        function send_email(i)
{   //serializing data
    x=new XMLSerializer();
    var data=document.getElementById("editor-text");
    // data.id="some_data";
    editor_body=x.serializeToString(data);
    console.log(editor_body);

    subject=document.getElementById("subject").value;
    // console.log(subject)
    xhr=new XMLHttpRequest();
    xhr.open("POST","/compose_send",true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    
    data=new Object();
    data["subject"]=subject;
    data["send_email"]=localStorage.getItem("email");
    //data["recv_email"]=to;
    data["body"]=editor_body;
    data["category"]=document.getElementById("category").value
    xhr.send(JSON.stringify(data));
    xhr.onload=function()
    {
        if(this.status==200)
        {
            alert("mail send");
            window.close();
        }
        else
        {
            alert("failed to send mail");
        }
    }
    //de-serializing data
    // parser=new DOMParser();
    // body=parser.parseFromString(body,'text/xml');
    // console.log(document.getElementById("editor-text").appendChild(body.documentElement));


}
// Bold menu
document.querySelector('#bold-button').addEventListener('click', function() {
    document.execCommand('bold');
});

// Underline menu
document.querySelector('#underline-button').addEventListener('click', function() {
    document.execCommand('underline');
});

// List menu
document.querySelector('#list-button').addEventListener('click', function() {
    document.execCommand('insertUnorderedList');
});

// Picture menu
document.querySelector('#image-button').addEventListener('click',function()
 {  console.log("here");
    var editor_area=document.getElementById("editor-text");
    var form = document.getElementById('upload_image');
    var formData = new FormData(form);
    // var file = form.files[0];
    // formData.append('file', file);
    var xhr = new XMLHttpRequest();
    xhr.responseType="JSON";
    xhr.onload=function(e){
    	if(xhr.status==200)
        {    var file_path=JSON.parse(xhr.response);
            if(file_path[0].indexOf('png')!=-1 || file_path[0].indexOf('jpg')!=-1 || file_path[0].indexOf('jpeg')!=-1)
            {	a=document.createElement("a");
        		a.href=file_path;
                f_name=file_path[0].split("/");
                f_name=f_name[f_name.length-1].split("\/")[1];
                a.download=f_name;
                editor_area.appendChild(a);
                img_element=document.createElement("img");
                img_element.src=file_path;
                img_element.style.width="100px";
                img_element.style.height="100px";

                a.appendChild(img_element);
                
            }
            else
            {
                a=document.createElement("a");
                a.href=file_path;
                a.download="111111111";
                f_name=file_path[0].split("/");
                f_name=f_name[f_name.length-1];
                a.innerHTML=f_name;
                editor_area.appendChild(a);
            }
         }
         else
         {
         	alert("please select a file");
         }
    }
    // Add any event handlers here...
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
    form.reset();
    //return false; // To avoid actual submission of the form

 });

// Check menu options to be highlighted on keyup and click event 
document.querySelector('#editor-text').addEventListener('keyup', FindCurrentTags);
document.querySelector('#editor-text').addEventListener('click', FindCurrentTags,false);

function FindCurrentTags() {
    // Editor container 
    var editor_element = document.querySelector('#editor-text');
    
    // No of ranges
    var num_ranges = window.getSelection().rangeCount;

    // Will hold parent tags of a range
    var range_parent_tags;

    // Will hold parent tags of all ranges
    var all_ranges_parent_tags = [];
        
    // Current menu tags
    var menu_tags = [ 'B', 'UL', 'U' ];
        
    // Will hold common tags from all ranges
    var menu_tags_common = [];

    var start_element,
        end_element,
        cur_element;

    // For all ranges
    for(var i=0; i<num_ranges; i++) {
        // Start container of range
        start_element = window.getSelection().getRangeAt(i).startContainer;
        
        // End container of range
        end_element = window.getSelection().getRangeAt(i).endContainer;
        
        // Will hold parent tags of a range
        range_parent_tags = [];

        // If starting node and final node are the same
        if(start_element.isEqualNode(end_element)) {
            // If the current element lies inside the editor container then don't consider the range
            // This happens when editor container is clicked
            if(editor_element.isEqualNode(start_element)) {
                all_ranges_parent_tags.push([]);
                continue;
            }

            cur_element = start_element.parentNode;
            
            // Get all parent tags till editor container    
            while(!editor_element.isEqualNode(cur_element)) {
                range_parent_tags.push(cur_element.nodeName);
                cur_element = cur_element.parentNode;
            }
        }

        // Push tags of current range 
        all_ranges_parent_tags.push(range_parent_tags);
    }

    // Find common parent tags for all ranges
    for(i=0; i<menu_tags.length; i++) {
        var common_tag = 1;
        for(var j=0; j<all_ranges_parent_tags.length; j++) {
            if(all_ranges_parent_tags[j].indexOf(menu_tags[i]) == -1) {
                common_tag = -1;
                break;
            }
        }

        if(common_tag == 1)
            menu_tags_common.push(menu_tags[i]);
    }

    // Highlight menu for common tags
    if(menu_tags_common.indexOf('B') != -1)
        document.querySelector("#bold-button").classList.add("highight-menu");
    else
        document.querySelector("#bold-button").classList.remove("highight-menu");

    if(menu_tags_common.indexOf('U') != -1)
        document.querySelector("#underline-button").classList.add("highight-menu");
    else
        document.querySelector("#underline-button").classList.remove("highight-menu");

    if(menu_tags_common.indexOf('UL') != -1)
        document.querySelector("#list-button").classList.add("highight-menu");
    else
        document.querySelector("#list-button").classList.remove("highight-menu");
}


    </script>
</html>